

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: darkFont;
    background-color: silver;
}

.about{
    font-size: 37px;
    color: blue;
   
}
.link_to_starting{
    font-size: 37px;
    color: blue;
    
}
#header{
    width: 100vw;
    height: 20vh;
    background-color: #000000;
    position: relative;
    margin: auto;
}
a{
    font-size: 3vmin;
    text-decoration: none;
    left: 35px;
    color: blanchedalmond;
}
a:first-child{
    position: absolute;
    top: 49%;

}
a:nth-child(2){
    position: absolute;
    top: 13%;
    cursor: pointer;
   
}

#stats{
    margin-top: 0;
    margin-right: 20px;
    float: left;
    width: 15vw;
    height: 80vh;
    background-color: rgb(119,136,153);
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 2vmin;
}
.row_health{
    padding-top: 15px;
    padding-left: 10px;
    height: 10%;
    width: 100%;
    box-sizing: border-box;

}
#row_container{
    background-image: url('images/star_wars_background.jpg');
    background-size: cover;
    width: 100vw;
    height: 80vh;
    border-radius: 0 0 10px 0;
    margin: auto;
}
#health_container{
    height: 42px;
    width: 315px;
    margin: 39px 0px 22px 48%;
    position: relative;
    
}

.lightsaber_container{
    /* transform: rotate(90deg); */
    width: 50%;
    margin: -100px 8px 5px 29%;
}

.lightsaberImg{
    width: 194px;
    position: absolute;
    left: 0;
    transform: translate(-91%,-51.25%);
}


#health{
    height: 13px;
    width: 379px;
    background-color: blue;
    border-radius: 13px;
    box-shadow: 0px 0px 7px 1.5px blue;

}

.muteButton, .unMuteButton{
    width: 57%;
    height: 9%;
    border-radius: 11px;
    background-color: lavenderblush;
    margin-top: 46px;
}

.muteButton:hover{
    cursor: pointer;
}
.unMuteButton:hover{
    cursor: pointer;
}

.muteIcon{
    width:20%;
    text-decoration: line-through;
}



.muteIcon:hover{
    cursor: pointer;
}
.modalLose{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(100,100,100,.5);
    /* background-image: url('images/star-wars-stars.png'); */
    z-index: 1;
}

.modalWin{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(100,100,100,.5);
    /* background-image: url('images/star-wars-stars.png'); */
    z-index: 1;
}
.row{
    height: 30%;
    width: 100%;
}
.container {
    display: inline-block;
    margin: 3% 0 3% 3%;
    border-radius: 10px;
    position: relative;
    width: 9%;
    height: 19%;
}
.value {
    height: 40px;
}
h2.label {
    margin: 0;
    font-size: 3vmin;
}
div#reset {
    color: blue;
    padding: 20px;
    box-sizing: border-box;
    font-size: 3vmin;
    margin-top: 40%;
    width: 90%;
    height: 25%;
    border-radius: 20px;
    background-image: url('images/bb8_reset.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div#reset:hover{
    cursor: pointer;
}
.front{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: 100% 100%;
    border-radius: 10px;
    background-image: url("images/star_wars_back.jpg");
    position: absolute;
    border: 1px solid silver;
}
.back {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    background-size: 100% 100%;
    border-radius: 10px;
    position: absolute;
}
#banner {
    /* position: relative;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */

    position: relative;
    width: 62%;
    top: 57%;
    left: 55%;
    transform: translate(-50%,-50%);
   
}

.container .flip.flipped{
    -webkit-transform: rotateY(-180deg);
}
.container .flip{
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.container .flip .face{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index:2;
}
.container .flip .front{
    position: absolute;
    z-index: 1;
}
.container .flip .back{
    -webkit-transform: rotateY(-180deg);
}


@media only screen and (min-width: 1200px) {
    #row_container {
        width: 1200px;
       
    }
    .row {
        width: 1200px;
    }
    .row_health{
        width: 1200px;
    }
    #stats{
        width: 180px;
    }
    #header {
        width: 1200px;
    }
}


@media only screen and (max-device-width: 700px){
    
    .lightsaberImg {
         width: 250px;
         position: absolute;
         left: 0;
         transform: translate(-86%,-51.25%);
    }
 
    #health {
        height: 40%;
        width: 100%;
        background-color: blue;
        border-radius: 13px;
        box-shadow: 0px 0px 30px 2px blue;
    }
    #row_container {
        margin: 0px 0px 0px 0%
    
    }
    .row {
        width:100%;
        height:24%
        /* calc(--width / 4) */
    }
    .container{
        width:15%;
        height:13%;
    }
 
    #banner{
        position: relative;
        width: 80%;
        top: 45%;
        left: 55%;
        transform: translate(-50%,-50%);
    }
 
 /*
    .row_health{
        
    }
    #stats{
       
    }
    #header {
       
 
    }
    #banner{
       
    } */
 }



/* @media only screen and (max-device-width: 700px){
    #row_container {
       width: 1800px;
       height:3500px;
       margin: 2px 10px 0px 1%;
       background-image: url('images/star_wars_background_mobile.jpg') !important;
      
   }
   .row {
       width: 1400px;
       margin: 0px 5px 220px -2%
   }
   .row_health{
       width: 1200px;
   }
   #stats{
       width: 180px;
       margin: -10px 0px 0px 0%;
       height: 127%
   }
   #header {
       width: 1900px;

   }
   #banner{
       width: 1200px;
       height: 600px;
       margin:80px 0px 0px -9%;

   }
   .container{
       width: 350px;
       height: 400px
   }
} 






 @media only screen and (max-device-width: 700px){
    #row_container {
         background-image: url('images/star_wars_background_mobile.jpg');
   }
   .row {
        width:1000px;
       height:300px; 
       width:981px;
       height:300px
   }
   .row_health{
      
   }
   #stats{
       
   }
   #header {
     margin: 0px 0px 0px 1%;
     height: 1vh
       

   }
   #banner{
      width:700px;
      height:300px

   }
   .container{
       
   }
   body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: darkFont;
    background-color: black;
}  */
